PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=authdb
DB_PORT=5432
JWT_SECRET=supersecretkey
JWT_SECRET_FOR_PASSWORD=votre_clé_secrète
MAIL_USER=votre_user_mailtrap
MAIL_PASS=votre_pass_mailtrap